<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./scroll.js"></script>
  <title>Document</title>
  <style>
    body{
      margin: 0;
      padding: 0;
    }
    .outer{
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    #scrollerInner{
      margin: 0;
    }
  </style>
</head>
<body>
  <div id="scrollerOuter" class="outer">
      <ol type="1" id="scrollerInner">
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
        <li>这是一个 li 元素</li>
      </ol>
  </div>
</body>
<script>
  // console.log(Scroller);
  new Scroller({});
</script>
</html>