<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="./main.js"></script>
  <title>js面试题集合</title>
</head>
<body>
<h3>1</h3>
<p>var addSix = createBase(6);
addSix(10); // returns 16
addSix(21); // returns 27
</p>
<h3>2</h3>
<p>如何判断一个数字是不是整数</p>
<h3>3</h3>
<p>如何键小数点左侧的数字 每三位添加逗号比如：12000000.11 =》 12,000,000.11</p>
<h3>4</h3>
<p>如何实现数组的随机排序</p>
</body>
</html>